
// some pretty colors to get you started :)

$turquoise: rgb(26, 188, 156);

$greensea:rgb(22, 160, 133);

$emerald: rgb(46, 204, 113);

$neptulon: rgb(39, 174, 96);

$river: rgb(52, 152, 219);

$belize: rgb(41, 128, 185);

$amethyst: rgb(155, 89, 182);

$violet: rgb(142, 68, 173);

$wet: rgb(52, 73, 94);

$midnight: rgb(44, 62, 80);

$slate: rgb(65, 71, 89);

$sunflower: rgb(241, 196, 15);

$tangerine: rgb(243, 156, 18);

$orange: rgb(255, 142, 37);

$carrot: rgb(230, 126, 34);

$pumpkin: rgb(211, 84, 0);

$strawberry: rgb(231, 76, 60);

$pomegranate: rgb(192, 57, 43);

$orangered: #CF4A1F;

$fluffy-clouds: rgb(245, 246, 247);

$clouds: rgb(236, 240, 241);

$dark-clouds: rgb(106, 106, 106);

$silver: rgb(189, 195, 199);

$concrete: rgb(149, 165, 166);

$morningfog: rgb(127, 140, 141);
